@import 'mixins';

.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: calc(100vh - var(--header-height));
  gap: 30px;
  @include md {
    height: 100%;
    grid-template-columns: 1fr;
  }
}
.text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--layout-padding);
  h1 {
    font-size: var(--font-title);
    margin-block: 12px;
    em {
      font-family: 'Playfair Display', sans-serif;
    }
  }

  @include md {
    padding: 48px 24px;
    align-items: center;
    text-align: center;
  }
}

.horizontal_divider {
  height: 2px;
  width: 40px;
  margin-top: 14px;
  margin-bottom: 16px;
  background-color: var(--secondary);
}

.wrap_container {
  max-width: 768px;
  word-wrap: break-word;
}

.main_content {
  margin-top: 24px;
  line-height: 1.75em;
  font-size: var(--font-paragraph);
}

.image_box {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  .img {
    border-radius: var(--mid-radius);
  }
  h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 34px;
    text-shadow: 1px 1px 1px var(--primary);
  }
}

.mission_container {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subtitle_above {
  color: var(--secondary);
  font-size: var(--font-subtitle);
  letter-spacing: 2px;
  line-height: 1.75em;
  text-transform: uppercase;
  filter: brightness(0.9);
}

.heading {
  margin-top: 12px;
  font-size: var(--font-heading);
  font-weight: 500;
}

.vertical_divider {
  margin-inline: auto;
  height: 40px;
  width: 2px;
  margin-top: 14px;
  margin-bottom: 16px;
  background-color: var(--secondary);
}

.mission_description {
  line-height: 1.75em;
  max-width: 700px;
  font-size: var(--font-paragraph);
}

.values {
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-top: 12px;
    margin-bottom: 48px;
    font-size: var(--font-heading);
    font-weight: 500;
  }
}

.values_container {
  display: grid;
  background-color: white;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}

.values_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 418px;

  p {
    font-size: var(--font-paragraph);
    margin-block: 12px;
  }
}

.values_icon {
  font-size: var(--font-heading);
  margin-bottom: 16px;
  color: var(--primary);
}
