@import 'mixins';

.header {
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--layout-padding);
  z-index: 9999;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.list {
  display: flex;
  gap: 20px;

  @include md {
    display: none;
    position: fixed;
    z-index: 9999;
    right: 5px;
    top: 85px;
    flex-direction: column;
    background-color: var(--background-card);
    border-radius: var(--min-radius);
    padding: 20px;
    box-shadow: var(--card-shadow);
  }

  &.active {
    display: flex;
  }
}

.menu {
  display: none;
  color: var(--primary);

  @include md {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    font-size: 18px;
  }
}

.list a:hover {
  color: var(--primary-hvr)
}

.logo {
  color: var(--primary);
  font-size: 70px;
  height: 80px;
  display: grid;
  place-content: center;
}

.cart,
.user {
  display: grid;
  place-content: center;
  color: var(--primary);
}