@import 'mixins';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  @include xl {
    grid-template-columns: 1fr 1.2fr;
  }

  @include md {
    grid-template-columns: 1fr;
  }
}

.heading {
  font-size: 60px;

  @include lg {
    font-size: 50px;
  }

}

.description {
  font-size: 20px;
}

.wrapper {
  max-width: 85%;

  @include lg {
    max-width: 100%;
    margin-bottom: 45px;
  }
}

.slider {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.info {
  margin-top: 20px;

  @include md {
    margin-top: 40px;
  }
}

.productTitle {
  font-size: 35px;
}

.productDescription {
  font-size: 20px;
}