.product {
  padding: 15px;
  border-radius: var(--min-radius);
  box-shadow: var(--card-shadow);
  cursor: pointer;
  transition: transform ease-in-out 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}