@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --min-radius: 6px;
  //--primary: #220d10;
  --primary: #1e3760;
  //--primary-hvr: #422126;
  --primary-hvr: #295195;
  //--secondary: #cbc2b6;
  --secondary: #f6a702;
  --secondary-hvr: #ffc751;
  --accent: #b58561;
  --foreground-text: #666666;
  --background-body: #faf8f6;
  --background-card: #ffffff;
  --foreground-button: #ffffff;
  // sizes
  --layout-padding: 100px;
  --header-height: 80px;
  --card-shadow: -1px 2px 20px 5px rgba(34, 13, 16, 0.021);

  @include tablet {
    --layout-padding: 50px;
  }

  @include mobile {
    --layout-padding: 10px;
  }
}

*::selection {
  background-color: var(--primary);
  color: var(--foreground-button);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-body);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

svg {
  width: 1.25em;
  height: 1.25em;
  fill: currentColor;
}

main {
  flex-grow: 1;
}

p {
  color: var(--foreground-text);
  line-height: 1.7;
}

footer,
header,
article {
  background-color: var(--background-card);
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}

button,
input {
  outline: none;
  border: solid 2px;
  border-radius: var(--min-radius);
  padding: 8px 10px;
  border-color: var(--secondary);
}

button {
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--primary);
  cursor: pointer;
  transition-property: background-color, border-color, color;
  transition: ease-in-out 0.3s;
}

button:hover {
  background-color: var(--secondary-hvr);
  border-color: var(--secondary-hvr);
}

button.secondary {
  background-color: var(--secondary);
  color: var(--primary);
}

button.secondary:hover {
  background-color: var(--primary-hvr);
  border-color: var(--primary-hvr);
  color: var(--foreground-button);
}

button::selection {
  background-color: none;
  color: none;
}

input {
  background-color: var(--background-body);
}

.container {
  padding-inline: var(--layout-padding);
}
